<div class="row">

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All users
      </div>
      <div class="panel-body">

        <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-3">
            <h4><%= link_to user.full_name, root_path %></h4>
          </div>

        </div>
        <% end %>

      </div>
    </div>

  </div>

</div>
