<div class="row">

  <div class="col-md-9">
    <div class="panel panel-primary">

      <div class="panel-body">

        <div class="row">
          <div class="col-md-5">
            <% if @matches %>
              <h4>This day there are these couples:
              </h4>
              <% @matches.each do |match| %>
                <%= match.users[0].profile.full_name %>
                +
                <%= match.users[1].profile.full_name %>
              <% end %>
              <a href="#" class="btn btn-primary regenerate" role="button">Regenerate</a>
            <% end %>

            <% if @match %>
              <h4>Today your pair is:
              </h4>
              <%= @match.users[1].profile.full_name %>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
